################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Autoclicker/.vs
/Autoclicker/bin
/Autoclicker/obj
